<table class="m-3 table">
    <tbody>
    {% for p in product_list %}

    <tr>
        <td><a href="/one_product/{{p.id}}"> {{p.product_name}}</a></td>
        <td>{{p.weight}} g</td>

        <td><input type="text" value="{{p.price}}" class="form-control"></td>


        <td><input type="number" class="form-control"
                   style="width: 60px;" value="1" id="p_qty{{p.id}}"></td>
        <td>
            <button class="btn btn-success"
                    onclick="getAddToCart('{{p.product_name}}','{{p.price}}','{{p.id}}')">Add+
            </button>
        </td>


    </tr>

{% endfor %}
    </tbody>
</table>
<script>

    function getAddToCart(p_name,price,pid){

        console.log(p_name);
        console.log(price);
        const qty="#p_qty"+pid
        const pqty=$(qty).val()
        console.log(pqty)
        addToCart(pid, p_name, parseInt(price),parseInt(pqty));
    }
</script>