{% extends 'base.html'%}

{% block body%}
<style>
    body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('/static/img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
<body>

<div class="container login-container">
<div class="col-md-4 bg-light p-4 m-auto rounded">
    <h3 class="m-4 text-center">Register</h3>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <div class="form-group">
            <button type="submit" class="btn btn-success">Register</button>
        </div>
    </form>
    <div class="my-2">Already account? <a href="/login">login</a>  here</div>

</div>
</div>
</body>
{% endblock%}